{% extends "utils/base.html" %}

{% block content %}
<h2>{{ title }}</h2>

<form method="post" class="row g-3">
    {% csrf_token %}

    {% if close %}
        <script>
            if (window.opener) {
                window.opener.location.reload();
            }
            window.close();
        </script>
    {% endif %}

    {% if project %}
        <input type="hidden" name="project" value="{{ project }}">
    {% endif %}  
    {% if site %}
        <input type="hidden" name="site" value="{{ site }}">
    {% endif %}
    {% if location %}
        <input type="hidden" name="location" value="{{ location }}">
    {% endif %}
    
    {{ form.as_p }}

    <button class="btn btn-success">Save</button>
</form>



{% if popup %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const navbar = document.getElementById("navbar");
        if (navbar) {
            navbar.style.display = "none";
        }
    });
</script>
{% endif %}


<script>
document.addEventListener("DOMContentLoaded", function () {
    const projectSelect = document.getElementById("id_project");
    const siteSelect = document.getElementById("id_site");
    const locationSelect = document.getElementById("id_location");

    projectSelect.addEventListener("change", function () {
        const projectId = this.value;

        fetch(`/api/project/${projectId}/sites/`)
            .then(res => res.json())
            .then(data => {
                siteSelect.innerHTML = "<option value=''>---------</option>";
                data.forEach(site => {
                    siteSelect.innerHTML += `<option value="${site.id}">${site.name}</option>`;
                });
            });

        fetch(`/api/project/${projectId}/locations/`)
            .then(res => res.json())
            .then(data => {
                locationSelect.innerHTML = "<option value=''>---------</option>";
                data.forEach(loc => {
                    locationSelect.innerHTML += `<option value="${loc.id}">${loc.name}</option>`;
                });
            });
    });
});
</script>

{% endblock %}
