{% extends "utils/base.html" %}

{% block content %}

<h4 class="mb-3">Dashboard</h4>

<div class="row g-3">

    <!-- Transactions -->
    <div class="col-6 col-md-3 col-sm-12">
        <div class="card text-center card-hover">
            <div class="card-body">
                <h6>Transactions</h6>
                <a href="/transactions/" class="btn btn-sm btn-dark mt-2">Open</a>
            </div>
        </div>
    </div>

    <!-- Inventory -->
    <div class="col-6 col-md-3 col-sm-12">
        <div class="card text-center card-hover">
            <div class="card-body">
                <h6>Inventory</h6>
                <a href="/inventory/" class="btn btn-sm btn-dark mt-2">Open</a>
            </div>
        </div>
    </div>

    <!-- Projects -->
    <div class="col-6 col-md-3 col-sm-12">
        <div class="card text-center card-hover">
            <div class="card-body">
                <h6>Projects</h6>
                <a href="/projects/" class="btn btn-sm btn-dark mt-2">Open</a>
            </div>
        </div>
    </div>

    <!-- Vendors -->
    <div class="col-6 col-md-3 col-sm-12">
        <div class="card text-center card-hover">
            <div class="card-body">
                <h6>Vendors</h6>
                <a href="/vendors/" class="btn btn-sm btn-dark mt-2">Open</a>
            </div>
        </div>
    </div>

</div>

{% endblock %}