{% extends "utils/base.html" %}

{% block content %}
<div class="mb-3 d-flex justify-content-between" >
    <h2 class="">Projects</h2>
    <a href="{% url 'project_create' %}" class="btn btn-primary px-3">Add Project</a>
</div>

<div class="table-responsive-md">
    <form method="get" class="row g-2 mb-3">
        <div class="col-md-4">
            <input 
                type="text" 
                name="name" 
                value="{{ name_query }}" 
                placeholder="Search by name" 
                class="form-control"
            >
        </div>

        <div class="col-md-3">
            <select name="status" class="form-select">
                <option value="">All Status</option>
                {% for value, label in status_choices %}
                    <option value="{{ value }}" {% if value == status_query %}selected{% endif %}>
                        {{ label }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="col-md-2">
            <button type="submit" class="btn btn-primary w-100">Filter</button>
        </div>

        <div class="col-md-2">
            <a href="{% url 'project_list' %}" class="btn btn-secondary w-100">Reset</a>
        </div>
    </form>
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Status</th>
                <th>Start</th>
                <th>End</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for p in projects %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td> <a href="{% url 'project_detail' p.id %}">{{ p.name }}</a></td>
                <td>{{ p.status }}</td>
                <td>{{ p.start_date }}</td>
                <td>{{ p.end_date }}</td>
                <td>
                    <a href="{% url 'project_update' p.id %}" class="btn btn-sm btn-outline-primary">Edit</a>
                    <a href="{% url 'project_delete' p.id %}" class="btn btn-sm btn-outline-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
