{% extends "utils/base.html" %}

{% block content %}
<h2>{{ title }}</h2>

<form method="post" class="row g-3">
    {% csrf_token %}
    
    {% if close %}
        <script>
            if (window.opener) {
                window.opener.location.reload();
            }
            window.close();
        </script>
    {% endif %}

    {{ form.as_p }}
    {% if stage %}
        <input type="hidden" name="stage" value="{{ stage }}">
    {% endif %}
    <button class="btn btn-success">Save</button>
</form>


{% if popup %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const navbar = document.getElementById("navbar");
        if (navbar) {
            navbar.style.display = "none";
        }
    });
</script>
{% endif %}

{% endblock %}
