{% extends "utils/base.html" %}

{% block content %}
<h3 class="mb-3">Send Material Request</h3>

<form method="post" class="row g-3">
    {% csrf_token %}

    <div class="col-md-4">
        <label class="form-label">Project</label>
        <select id="project" name="project" class="form-select">
            <option value="">Select Project</option>
            {% for p in projects %}
                <option value="{{ p.id }}">{{ p.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="col-md-4">
        <label class="form-label">Site</label>
        <select id="site" name="site" class="form-select">
            <option value="">Select Site</option>
        </select>
    </div>

    <div class="col-md-4">
        <label class="form-label">Stage</label>
        <select id="stage" name="stage" class="form-select">
            <option value="">Select Stage</option>
        </select>
    </div>

    <h3 class="mt-4">Items</h3>

       <div class="col-md-4">
        <label class="form-label">Warehouse</label>
        <select id="warehouse" name="warehouse" class="form-select" required>
            <option value="" disabled selected>Select Warehouse</option>
            {% for warehouse in warehouses %}
                <option value="{{ warehouse.id }}">{{ warehouse.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="col-md-4">
        <label class="form-label">Item</label>
        <select name="item_variant" class="form-select" required>
            <option value="" disabled selected>Select Item</option>
            {% for variant in item_variants %}
                <option value="{{ variant.id }}">{{ variant }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="col-md-4">
        <label class="form-label">Quantity</label>
        <input name="quantity" class="form-control">
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </div>
</form>

<script>
document.addEventListener("DOMContentLoaded", function () {

    const projectSelect = document.getElementById("project");
    const siteSelect = document.getElementById("site");
    const stageSelect = document.getElementById("stage");
    const warehouseSelect = document.getElementById("warehouse");

    // PROJECT → LOAD SITES
    projectSelect.addEventListener("change", function () {
        const projectId = this.value;

        if (!projectId) {
            siteSelect.innerHTML = '<option value="">Select Site</option>';
            stageSelect.innerHTML = '<option value="">Select Stage</option>';
            warehouseSelect.innerHTML = '<option value="">Select Warehouse</option>';
            return;
        }

        fetch(`/transactions/projects/sites/?project_id=${projectId}`)
            .then(response => response.json())
            .then(data => {
 
                siteSelect.innerHTML = '<option value="">Select Site</option>';
                stageSelect.innerHTML = '<option value="">Select Stage</option>';

                data.forEach(site => {
                    const option = document.createElement("option");
                    option.value = site.id;
                    option.textContent = site.name;
                    siteSelect.appendChild(option);
                });
            })
            .catch(err => console.error("Error loading sites:", err));
        
        fetch(`/transactions/projects/warehouses/?project_id=${projectId}`)
            .then(response => response.json())
            .then(data => {
 
                warehouseSelect.innerHTML = '<option value="">Select Warehouse</option>';
                warehouseSelect.innerHTML = '<option value="">Select Warehouse</option>';

                data.forEach(warehouse => {
                    const option = document.createElement("option");
                    option.value = warehouse.id;
                    option.textContent = warehouse.name;
                    warehouseSelect.appendChild(option);
                });
                if (data.length === 1) {
                    warehouseSelect.innerHTML = '<option value="' + data[0].id + '" selected >' + data[0].name + '</option>';
                }
            })
            .catch(err => console.error("Error loading warehouses:", err));

    });

    // SITE → LOAD STAGES
    siteSelect.addEventListener("change", function () {
        const siteId = this.value;

        if (!siteId) {
            stageSelect.innerHTML = '<option value="">Select Stage</option>';
            return;
        }

        fetch(`/transactions/projects/stages/?site_id=${siteId}`)
            .then(response => response.json())
            .then(data => {

                stageSelect.innerHTML = '<option value="">Select Stage</option>';

                data.forEach(stage => {
                    const option = document.createElement("option");
                    option.value = stage.id;
                    option.textContent = stage.name;
                    stageSelect.appendChild(option);
                });
            })
            .catch(err => console.error("Error loading stages:", err));
    });

});
</script>

{% endblock %}
