<div id="{{ widget.name }}-container">
    {% for key, value in widget.value.items %}
        <div class="kv-row">
            <input type="text" name="{{ widget.name }}_key" value="{{ key }}" placeholder="Key">
            <input type="text" name="{{ widget.name }}_value" value="{{ value }}" placeholder="Value">
        </div>
    {% endfor %}
</div>

<button type="button" onclick="addRow('{{ widget.name }}')" >+ Add</button>

<script>
function addRow(name) {
    const container = document.getElementById(name + "-container");

    const row = document.createElement("div");
    row.classList.add("kv-row");

    row.innerHTML = `
        <input type="text" name="${name}_key" placeholder="Key">
        <input type="text" name="${name}_value" placeholder="Value">
    `;

    container.appendChild(row);
}
</script>